


*{ 
    margin: 0;
    padding: 0;
}
header{background: #EEBBD4;}
.manu{

width: 30%;

margin: auto;
}
.manu ul{

display: flex;

justify-content: space-between;

flex-wrap: wrap;

align-items: center;
}
.manu ul li{

list-style: none;
}
.manu ul li a{

text-decoration: none;

color: black;

font-size: 17px;

text-transform: unset;
}
.manu ul li a img{ 
    
}
.page{

width: 100%;
height: 92vh;
background: thistle;
}
.content{

width: 70%;

margin: auto;

display: flex;

justify-content: left;
}
.image{

width: 45%;
}
.image img{

width: 100%;
}
.form{

width: 37%;

margin-left: 21%;

margin-top: 50px;
}
.form h1{

font-size: 27px;
}
.form h6{

font-size: 13px;
}
.form input{

margin-bottom: 12px;

border: none;

padding: 6px 8px;

border: .5px solid;

width: 70%;

background-color: ivory;

border-radius: 4px;
}
.form input[type="checkbox"]{width: 17px;margin: 3px 0px 32px;}
.form input[type="submit"]{

border-radius: 13px;

background: yellowgreen;
}








